<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to cs50</title>
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>
        <header class="flexHorizontal">
            <div>
                <h1>Article Solution</h1>
            </div>
            <div>
                <button>Login</button>
            </div>
        </header>
        <h1>WELCOME TO cs50</h1>
        <p>Good morning! happy to see you all</p>
        <p> Hello Dhammakirti</p>
        <div>
            
        </div>
    </body>
</html>

<!--

Idea 1

stucture the page with divs




-->